*, *::after, *::before {
    box-sizing: border-box;
}

.modalDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 1000px;
    max-width: 80%;
    min-width: 200px;
}

.modalDiv.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    border-bottom: 3px solid black;
    width: 1000px;
    max-width: 100%;
}

.modal-header {
    font-weight: bold;
}

.modal-header #title {
    font-size: 4rem;
}

.modal-header button {
    font-size: 4rem;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 4rem;
}

.modal-body {
    padding: 10px 15px;
    justify-content: center;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.mini-header-element {
    display: inline-block;
    padding: 10px;
}

#top-header-elements {
    width: 1000px;
    max-width: 100%;
}

#mini-screen-chord-dropdown {
    width: 175px;
}